:root{
--cor-fundo:rgb(37, 37, 80);
--cor-principal:rgb(105, 105, 129);
--cor-secundaria:rgb(122, 122, 245);
--cor-destaque:rgb(42, 42, 75);
--cor-texto:#ffffff;
}

body{
min-height: 100vh;
background-color:var(--cor-fundo);
color: var(--cor-texto);
display: flex;
justify-content: center;
align-items: center;
}

.caixa-prtincipal{
    background-color: var(--cor-principal);
}

h3{
    color: var(--cor-destaque);
}

button{
    background-color: var(--cor-secundaria);
color: var(--cor-texto);
border: none;
border-radius: 15px;
padding: 15px;
transition: background-color 0,3s;
}